- content_for :header do
  %h1=  "Users"

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th
        %th  Label
      %tbody
        - @user.albums.each do |album|
          %tr
            %td= image_tag(album.cover.thumb.url)
            %td= album.label
